{% extends 'principal/index.html.twig' %}

{% block title %}Mis Sectores{% endblock %}

{% block body %}

<h1><center>Mis Sectores</center></h1>

{% if sectores is not same as("") and sectores is not null and sectores is not empty %}
<div class="container h-100 " style="margin-top:40px">
    <table id="tbSector" class="table table-hover table-sm" style="border: 10px ridge DeepPink;">
        <thead style="border-bottom-style:2px solid #24a690;">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <div class="scrollit">
                            {% for sector in sectores %}
                                <tr id ='{{sector.id}}'>
                                    <td>{{sector.id}}</td>
                                    <td>{{sector.nombre}}</td>
                                    <td style="width:19%" align="center">
                                        
                                    </td> 
                                </tr>
                            {% endfor %}
                    </div>
               </td>
            </tr>
        </tbody>
    </table>
    {#
    <h4>Sectores vinculados: {{ sectores.getTotalItemCount }}</h4>
    
    <div class="navigation">
    {{ knp_pagination_render(sectores) }}
    </div>
    #}
    <div class="container h-100 " style="margin-top:5px">
    <div class="form-row">
        <div id="boton_volver" class="form-group col-md-6">
            <button type="button" class="btn btn-default" onclick="location.href='{{ path('cliente')}}'">Volver</button>
        </div>
    </div>
    </div>
</div>
{% else %}
<div class="container h-100 " style="margin-top:40px">
    <p style="text-align:center">No existe ningún sector vinculado</p>
    <button type="button" class="btn btn-default" onclick="location.href='{{ path('cliente')}}'">Volver</button>
</div>
{% endif %}

{% endblock %}